.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  box-shadow: 2px 2px 5px;
  transition: 0.2s;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    69deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 121, 112, 1) 34%
  );
}

.logo {
  font-size: 1, 5rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  border-bottom: 0px solid;
  border-radius: 0px;
  transition: 0.2s;
}

.header a {
  text-decoration: none;
  font-size: 1rem;
  color: #fcb8d2;
  transition: 0.2s;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
  transition: 0.2s;
}

.badge {
  background-color: #0069d9;
  border-radius: 5px;
  color: white;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.brandlogo {
  transition: 0.2s;
  width: 120px;
}
.brandlogo:hover {
  transition: 0.2s;
  width: 130px;
}
